* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.sky {
    height: 100vh;
    width: 100%;
    background: url(./images/background.jpg);
    background-repeat: no-repeat;
    position: absolute;
}

.trees {
    height: 100vh;
    width: 100%;
    background: url(./images/trees.png);
    background-size: cover;
    position: absolute;
    top: -152px;
}

.track {
    height: 60vh;
    width: 700vw;
    background: url(./images/track.png);
    position: absolute;
    top: 70vh;
    background-repeat: repeat-x;
    animation: carmove linear 8s infinite;
}

.car {
    height: 100px;
    width: 380px;
    background: url(./images/car_body.png);
    background-size: cover;
    position: absolute;
    left: 444px;
    bottom: 30vh;
    animation: shake linear 3s infinite;
}

.wheel1 img {
    height: 71px;
    position: relative;
    top: 39px;
    right: 10px;
    left: 46px;
    animation: wheelrotation linear 0.3s infinite;
}

.wheel2 img {
    height: 68px;
    position: relative;
    top: -33px;
    left: 240px;
    animation: wheelrotation linear 0.3s infinite;
}

@keyframes wheelrotation {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes carmove {
    100% {
        transform: translateX(-500vw);
    }
}

@keyframes shake {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}